body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Lucida Grande, Arial, sans-serif;
}

button,
input {
  outline: none;
}

div {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#content-container {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#controls {
  padding: 0px;
  background-color: #eee;
  border-bottom: solid 1px #ccc;
}

#controls button {
  font-size: 2em;
  line-height: 1.2em;
  border-radius: 2px;
  padding: 0 6px;
  margin-left: .1em;
  margin-right: .1em;
  white-space: nowrap;
}

#controls .padItOut {
  width: 100%;
}

#tab-controls {
  padding: 3px 3px 0px 3px;
  /* High-Contrast International Orange Stripes. */
  background: repeating-linear-gradient( 45deg, #ff6600, #ff6600 10px, #FF7F2A 10px, #FF7F2A 20px );
  /* Slightly More Pleasant but Lower Contrast Yellow Stripes. */
  /*background: repeating-linear-gradient( 45deg, #FFF559, #FFF559 10px, #ECDE00 10px, #ECDE00 20px ); */
}

#tab-controls > button {
  float: right;
}

#tab-controls button {
  font-size: 1.5em;
  margin-bottom: 2px;
}

.hidden-controls {
  visibility: hidden;
}

#bg-title {
    background-color: rgba(255, 255, 255, 0.32);
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    display: block;
    position: absolute;
    width: 10em;
    border-radius: 4px;
    left: 0;
    right: 0;
    margin: 4px auto 0 auto;
}

#browser-controls {
  padding: 3px;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px #ccc;
  background: -webkit-linear-gradient(bottom, #bbbbbb 0%, #f2f2f2 99%);
}

button:hover,
input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
}

button:active,
input[type="submit"]:active {
  border-color: #bbb;
  background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbbbbb 99%);
}

/* TODO: Remove this. */
/*#location {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}*/

#browser-controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}

/*
#browser-controls #location-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: column;
}
*/

#browser-controls #center-column {
  -webkit-flex: 1;
}

webview,
.webview-container {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

.selected,
#content-container .selected {
  visibility: visible;
}

.webview-container ul {
  position: relative;
  text-align: right;
  padding: 0px;
  margin: 0px;
  z-index: 2;
  list-style-type: none;
}

.webview-container ul li {
  padding: 3px;
  background: #ff7;
  border-bottom: solid 1px #aa6;
}

webview {
  z-index: 1;
}

/* The reload button turns into a spinning throbber */
.loading #reload {
  -webkit-animation: spinner-animation .5s infinite linear;
  /*-webkit-transform-origin: 50% 55.5%;*/
  border-color: transparent;
  background: transparent;
}

@-webkit-keyframes spinner-animation {
  0% { -webkit-transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg); }
}

#tab-container {
  margin: 5px 5px 0px 5px;
  padding: 0px;
  display: inline-block;
}

#tab-container li {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 100px;
  margin: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 6px 16px 6px 6px;
  border: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #ccc;
}

#tab-container li:hover {
  background: #ddd;
}

#tab-container li.selected {
  background: #eee;
  font-weight: bold;
}

#tab-container li p {
  width: 100px;
  float:left;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

#tab-container li a {
  position: absolute;
  right: 2px;
  z-index: 2;
  padding-left: 3px;
  padding-right: 2px;
  margin-right: 4px;
  color: #666;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
  border-radius: 4px;
}

#tab-container li a:hover {
  color: #FFE5E5;
  background-color: #FF8383;
}

#tab-container li#new-tab {
  background: transparent;
  vertical-align: baseline;
  display: inline;
}

#tab-container li#new-tab a {
  font-size: 24px;
  padding: 0px;
}
